<div class="example">
  <div class="name">
    <span class="main-name"><%= name %></span>
  </div>
  <% if (description) { %>
  <div class="description">
    <%- md_to_html(description) %>
  </div>
  <% } %>
  <div class="value"><% if (typeof value === 'string' || value instanceof String) { %><%- hljs.highlightAuto(value.trim()).value; %><% } else if (bodyType == 'application/json') { %><%- hljs.highlight(JSON.stringify(value, null, 2).trim(), {language: 'json'}).value; %><% } else { %>I don't know how to make the example value readable. Body type is [<%= bodyType %>].<% } %></div>
</div>