<div class="operation-body">
  <div class="name">
    <span class="main-name"><%= body[0] %></span>
    <% if (body[1].schema.oneOf) { %><span class="oneOf">oneOf</span><% } %>
  </div>
  <div class="description">
    <%- md_to_html(body[2]) %>
  </div>
  <div class="param-list indent">
    <% if (body[1].schema.type == 'object' && body[1].schema.oneOf) { %>
    <% body[1].schema.oneOf.forEach(param => { %>
    <%- include('param', {name: param.title, param, exploded: true, md_to_html}); %>
    <% }); %>
    <% } else if (body[1].schema.type == 'object' && body[1].schema.properties) { %>
    <% for (const [name, param] of Object.entries(body[1].schema.properties)) { %>
    <%- include('param', {name, param, exploded: false, md_to_html}); %>
    <% } %>
    <% } else { %>
    <div>I don't know what type of body this is.</div>
    <div><%= JSON.stringify(body[1].schema) %></div>
    <% } %>
  </div>
</div>