<div class="param<% if (required) { %> required<% } %>">
  <div class="name">
    <%= name; %><span class="type"><%= param.type %></span>
  </div>
  <% if (param.description) { %>
  <div class="description"><%- md_to_html(param.description) %></div>
  <% } %><br />keys: <%= JSON.stringify(Object.keys(param)) %><br />properties:
  <%= JSON.stringify(param.properties) %><br />oneOf: <%=
  JSON.stringify(param.oneOf) %><br />schema: <%= JSON.stringify(param.$schema)
  %><br />required: <%= JSON.stringify(param.required) %><br />
</div>
