<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto+Mono"
    />
    <style>
      <%- style %>
    </style>
  </head>
  <body>
    <div class="front-matter">
      <h1><%= title %></h1>
      <%- description %>
    </div>

    <% paths.forEach(path => { %>
    <div class="path">
      <% path.operations.forEach(operation => { %>
      <h2>
        <%= operation.name %>
        <span class="path">
          <%= operation.path %>
          <span class="method <%= operation.method %>"
            ><%= operation.method %></span
          ></span
        >
      </h2>

      <%- operation.description %> <% }); %>
    </div>
    <% }); %>
  </body>
</html>
